<mat-toolbar class= "mat-elevation-z15">
<nav class="navbar navbar-expand-sm navbar-dark">
  <a [routerLink]="['/courses']" class="navbar-brand mx-4">Course Manager</a>

  <button mat-raised-button color=""
    class="navbar-toggler mx-4"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-4">
        <a
          [routerLink]="['/courses']"
          routerLinkActive="active"
          class="nav-link"
          >Courses</a
        >
      </li>
    </ul>
  </div>
</nav>
</mat-toolbar>
