<section class="container cadastro mat-elevation-z15 py-4">

  <h2 class="mb-4">Informações do Curso</h2>
  <div class="inputs">
    <form #courseForm="ngForm" *ngIf="course">

      <div>
        <mat-form-field appearance="outline">
          <mat-label class="">Nome:</mat-label>
          <input matInput [(ngModel)]="course.name" required name="name" #courseName="ngModel"
            [ngClass]="{ 'is-invalid': courseName.invalid }" />
          <div class="invalid-feedback">
            <span>Nome é obrigatorio</span>
          </div>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Preço:</mat-label>
          <input matInput [(ngModel)]="course.price" required name="price" #coursePrice="ngModel" type="number"
            [ngClass]="{ 'is-invalid': coursePrice.invalid }" />
          <div class="invalid-feedback">
            <span>Valor é obrigatorio</span>
          </div>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Avaliação:</mat-label>
          <input matInput [(ngModel)]="course.rating" required name="rating" #courseRating="ngModel" type="number"
            [ngClass]="{ 'is-invalid': courseRating.invalid }" />
          <div class="invalid-feedback">
            <span>Avaliação é obrigatorio</span>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Descrição:</mat-label>
          <textarea matInput [(ngModel)]="course.description" required name="description" #courseDescription="ngModel"
            [ngClass]="{ 'is-invalid': courseDescription.invalid }">
            </textarea>
          <div class="invalid-feedback">
            <span>Descrição é obrigatório</span>
          </div>
        </mat-form-field>
      </div>

      <div class="botoes">
        <button mat-raised-button routerLink="/courses">Voltar</button>
        <button mat-raised-button color="primary" [disabled]="courseForm.invalid" (click)="save()" routerLink="/courses"
          class="m-2">
          Salvar
        </button>
      </div>
    </form>
  </div>
</section>
